.searchWrapper {
  display: flex;
  gap: 1rem;
}

.searchBox {
  position: relative;
  background-color: white;
  width: 600px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;

  transition: all ease 0.3s;
}

.searchBox input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
  padding: 0 15px;
}

.searchBox input::placeholder {
  color: gray;
}

.btn {
  height: 30px;
  padding: 0 1rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(5, 182, 5);
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.searchBox.shake {
  animation-name: shakeAnimation;
  animation-duration: 1s;
  border: 2px solid red;
  color: red;
}

.searchBox.shake input::placeholder {
  color: red;
}

@keyframes shakeAnimation {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}